*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 43, 235, 0.432) !important;
}
p{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
tr{
    color: white;
    font-weight: 600;
}
.container{
    margin: 30px 50px;
    font-family: 'Dancing Script', cursive;
}
.container>h1{
    font-size: 50px;
    font-weight: 900;
    color: yellow;
    text-shadow: 5px 5px 10px orangered,0 0 25px blue, 0 0 5px darkblue;
    transition: 1s ease-in-out;
}

img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
img:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}
.form-select{
    width: 70% !important;
}
#form__add__student{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.1rem 1rem;
    border: none;
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px;
}
#form__add__student div{
    margin-right: 120px;
}
.submit__add{
    width: 80px;
    height: 30%;
    margin: auto 0;
    color: white;
    background-color: blue;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 8px;
    font-weight: 600;
}
#select__add{
    height: 29px;
}
#input-image{
    width: 50%;
}
input{
    border: none;
    outline: none;
    border-radius: 5px;
}
select{
    border: none;
    outline: none;
    border-radius: 5px;
}
.table{
    margin-top: 20px;
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px;
    font-size: 20px;
}
.edit{
    background-color: blue;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    margin-right: 20px;
}
.delete{
    background-color: red;
    border: none;
    outline: none;
    padding: 5px 14px;
    color: white;
    font-weight: 600;
}
.save{
    background-color: blue;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    margin-right: 20px;
}
.cancel{
    background-color: gray;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
}
.image__add--wrap{
    width: 200px;
}
#edit_delete{
    display: flex;
    justify-content: flex-start;
    border: none;
}
#save_cancel{
    display: none;
    justify-content: flex-start;
    border: none;
}
.input-image__edit{
    width: 120px;
}

