
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #282d30;
}
.header{
    color: #f48847;
    height: 103px;
    width: 1340px;
    display: inline-flex;
}
.header-left{
    float: left;
    font-weight: 200;
    font-family: 'Libre Caslon Display', serif;
    width: 400px;
    height: 36px;
    display: flex;
    margin: 32px 30px;
    font-size: 20px;
}
.header-left-items a{
    margin: 15px;   
    color: #f48847;
    text-decoration: none;
}

.header-home{
    font-size: 31.392px;
    font-weight: 500;
    float: none;
    width: 420px;
    height: 80px;
    display: inline;
    text-align: center;
    padding-top: 28px;
    
}
.header-home a{
    text-decoration: none;
    color: #f48847;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: freight-text-pro;
}

.header-right{
    display: flex;
    width: 380px;
    justify-content: flex-end;
    padding: 19px 30px;

}
.logo{
    margin: 18px;
    font-size: 18.2784px;
    cursor: pointer;
}

li{
    display: inline-block;
}

i{
    color: #f48847;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 33px;
    height: 347px;
    width: 1340px;
}
.content-wrap{
    width: 60%;
    height: 50%;
    display: block;
    margin: 88px auto;
    text-align: center;    
}

.content-wrap h1{
    color: #f48847;
    font-size: 55px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 40px;
    font-family: 'Libre Caslon Display', serif;
    font-family: 'Merriweather', serif;
}
em{
    font-style: italic;
    white-space: pre-wrap;
    color: white;
    font-size: 19px;
    line-height: 41px;
    font-family: 'Libre Caslon Text', serif;
    font-weight: 300;
}
.content-2{
    align-items: center;
    display: flex;
    width: 1340px;
    height: 637px;
}
.content-2 img{
    width: 92%;
    height: 83%;
    margin-left: 58px;
    margin-bottom: 85px;

}

.content-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 33px;
    height: 268px;
    width: 1340px;
    
}
.content-3 div{
    width: 48.5%;
    height: 74.6%;
    display: block;
    text-align: center;
    margin-left: 25%;
}
.our-a{
    color: #f48847;
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    margin: -10px 0px 30px;
}
.para{
    font-size: 16px;
    font-weight: 300;
    color: white;
    font-family: 'Libre Caslon Text', serif;
}

.content-4{
    width: 1340px;
    height: 886px;
    display: flex;
}
.content-4-wrap{
    width: 1027px;
    height: 751px;
    display: flex;  
    margin-left: 148px;
    margin-top: 45px;
}
.content-4-img-1{
    display: block;
    width: 599px;
    height: 751px;
    margin: auto ;
    margin-left: 0px;
}
.content-4-img-1 img{
    width: 565px;
    height: 625px;
    display: block;
    margin: auto;

}
.content-4-img-1 a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Libre Caslon Text', serif;

}
.content-4-img-1 p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.content-4-right{
    display: block;
    width: 308px;
    height: 625px;
    padding-right: 10px;
}
.content-4-img-2{
    display: block;
}
.content-4-img-2 img{
    width: 308px;
    height: 341px;
}
.content-4-img-2 a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 300;
    display: block;
    text-align: center;
    padding-top: 15px;
    font-family: 'Libre Caslon Text', serif;

}
.content-4-img-2 p{
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.content-4-3{
    display: flex;
    align-items: flex-end;
    height: 180px;
    width: fit-content;
    border-bottom: solid #f48847 1px;

}
.content-4-3 a{
    color: #f48847;
    font-size: 36px;
    font-weight: 500;
    margin: auto;
    margin-top: 140px;
    text-decoration: none;
}

.content-5{
    
    width: 1351px;
    height: 773px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233,206,176);
}
.content-5-wrap{
    width: 1242px;
    height: 576px;
    display: flex;
    align-items: center;
}
.content-5-wrap img{
    width: 720px;
    height: 576px;
    float: left;
}
.ct5-img-2{
    position: absolute;
    width: 545px;
    height: 499px;
    background-color: white;
    margin-left: 620px;
    display: block;
    padding-left: 76px;
}

.ct5-img-2-wrap{
    width: 472px;
    height: 128px;
    display: block;
}
.ct5-img-2 h2{
    width: 472px;
    height: 50px;
    color: #f48847;
    font-size: 44.5px;
    font-weight: 500;
    padding-top: 80px;
}
.ct5-img-2-wrap div{
    height: 60px;
}
.ct5-img-2-wrap p{
    display: block;
    width: 472px;
    align-items: center;
    color: #f48847;
    font-size: 15px;
    font-weight: 300;
    line-height: 32px;
    font-family: 'Libre Caslon Text', serif;

}
.ct5-button{
    display: flex;
    width: 163px;
    background-color: #f48847;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.ct5-img-2-wrap a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin: auto; 
}

.footer{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f1-icon{
    display: flex;
    width: 931px;
    height: 34px;
    justify-content: center;
    cursor: pointer;
}
.f1-icon i{
    color: white;
    margin-top: 43px;
}
.logo_f{
    margin: 9px;
    font-size: 19px;
}
.f2{
    width: 931px;
    height: 149px;
    display: block;
    margin: auto;
    text-align: center;
}
.f2-p{
    color: white;
    font-size: 17px;
    margin-top: 40px;
    font-family: 'Ibarra Real Nova', serif;
}
.f2-input{
    width: 931px;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.f2-i-text{
    width: 262px;
    height: 62px;
    border: solid black 1px;
    margin-right: 11px;
    
}
::placeholder{
    padding: 30px;
    font-size: 15px;
    opacity: 0.5;
}
.f2-input button{
    text-decoration: none;
    color: white;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 15px;
    border: solid #282d30 1px;
}
.f2-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 60px;
    background-color: #f48847;
}
.f3-brand{
    margin-bottom: 50px;
    height: 27px;
    width: 931px;
    text-align: center;
    font-family: 'Libre Caslon Text', serif;

}
.f3-brand p{
    color: white;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}
.f3-brand p a{
    color: #f48847;
    text-decoration: none;
    border-bottom: #f48847 solid 1px;
    padding-bottom: 5px;

}