*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 5vw;
    padding: 0 5rem;
}
.nav-bar__left{
}
.nav-bar__left h1{
    color: white;
    letter-spacing: 10px;
    cursor: pointer;
    font-size: 50px;
}
.nav-bar__right{
    display: flex;
    justify-content: space-around;
}
.nav-bar__right__icon{
    display: none;
}
.nav-bar__right__element{
    width: 50px;
    color: white;
    cursor: pointer;
}
.nav-bar__right__element:hover{
    color: pink;
}
@media (min-width: 400px) and (max-width: 752px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        width: 100%;
        height: auto;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        height: 10vw;
        padding: 0 2rem;
    }
    .nav-bar__left{
    }
    .nav-bar__left h1{
        color: white;
        letter-spacing: 10px;
        font-size: 40px;
    }
    .nav-bar__right{
        display: flex;
        justify-content: space-around;
    }
    .nav-bar__right__element{
        width: 50px;
        color: white;
        cursor: pointer;
        display: none;
    }
    .nav-bar__right__icon i{
        font-size: 30px;
        color: white;
    }
    .nav-bar__right__icon {
        color: white;
        cursor: pointer;
        display: block;
        position: relative;
        /* width: 200px;
        height: 100%;
        background-color: aqua; */
    }
    .nav-bar__right__icon--menu{
        position: fixed;
        top: 76px;
        right: 200px;
        display: none;
    }
    .nav-bar__right__icon:hover .nav-bar__right__icon--menu{
        display: block;
    }
    .nav-bar__right__icon i:hover{
        color: pink;
    }

    .nav-bar__right__icon__html{
        display: block;
        position: fixed;
        top: 76px;
        background-color: black;
        padding: 1rem 2rem;
        font-size: 20px;
        width: 200px;
        display: flex;
        justify-content: center;
        
    }
    .nav-bar__right__icon__css{
        display: block;
        position: fixed;
        top: 132px;
        background-color: black;
        padding: 1rem 2rem;
        font-size: 20px;
        width: 200px;
        display: flex;
        justify-content: center;
    }
    .nav-bar__right__icon__js{
        display: block;
        position: fixed;
        top: 188px;
        background-color: black;
        padding: 1rem 2rem;
        font-size: 20px;
        width: 200px;
        display: flex;
        justify-content: center;
    }
}