* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
}
.container {
  display: block;
  width: 70%;
  margin: auto;
  font-family: "Mulish", sans-serif;
}
.exercise {
  width: 100%;
  height: auto;
  display: block;
  background-color: rgb(228, 228, 228);
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px 20px;
  padding: 1rem 1rem;
}
.exercise h2 {
  color: rgb(37, 37, 37);
}
.ex__one {
  height: auto;
}
.ex__one__result {
  height: 50px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.ex__one__result h4 {
  width: 50px;
  float: left;
  margin-right: 10px;
}

#ex__one--date,
#ex__one--time {
  width: 180px;
  margin: 4px 0;
}

.ex__two__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  margin: 20px auto;
}
.ex__two__result h4 {
  width: 150px;
}

#ex__two__format--m-d-y,
#ex__two__format--mdy--slash,
#ex__two__format--d-m-y,
#ex__two__format--dmy--slash {
  display: flex;
  width: fit-content;
  margin: 10px 0;
  font-size: 20px;
}
#ex__three__form__check {
  margin-top: 15px;
}
#ex__three__form__input {
  width: 150px;
  font-size: 18px;
}
#ex__three__form__submit,
#ex__four__form__submit,
#ex__five__form__submit,
#ex__six__form__add,
#ex__six__form__submit,
#ex__seven__form__submit,
#ex__eight__form__submit,
#ex__nine__form__submit,
#ex__ten__form__submit {
  font-size: 15px;
  padding: 3px 12px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-family: inherit;
  font-weight: 600;
}
#ex__three__result {
  margin: 20px 0;
}
#ex__four__form__check {
  margin-top: 15px;
}
#ex__four__form__input {
  width: 200px;
  font-size: 18px;
}
#ex__four__result{
    margin-top: 10px;
}
#ex__five__form__check{
    margin-top: 15px;
}
#ex__five__form__input{
    font-size: 18px;
    width: 200px;
}
#ex__five__result {
    margin-top: 10px;
}
#ex__six__form__check{
    margin-top: 15px;
}
#ex__six__form__input{
    width: 40px;
    margin-right: 5px;
}
#arr__element input{
    width: 40px;
    margin: 0 3px;
}
#ex__six__form__submit{
    margin:10px 0;
}

#arr__element {
  flex-wrap: wrap;
  margin: 10px 0;
  display: flex;

}
#ex__seven__form__check{
    margin: 15px 0;
}
#ex__seven__form__input{
    font-size: 18px;
    width: 200px;
}
#add__string{
    margin-bottom: 10px;
}
#ex__eight__form__check{
    margin: 15px 0;
}
#ex__eight__add__number{
    margin-bottom: 15px;
}
#ex__eight__form__input{
    font-size: 18px;
    width: 40px;
}
#ex__nine__form__check{
    margin: 15px 0;
}
#ex__nine__form__input{
    font-size: 18px;
}
#ex__nine__add__string{
    margin-bottom: 15px;
}
#ex__ten__form__check{
    margin: 15px 0;
}
#ex__ten__add__number input{
    font-size: 18px;
    width: 40px;
    margin-right: 5px;
}
