body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f3f3f5;

}
.container{
    position: relative;
    display: block;
}
.accent-line-top{
    width: 100%;
    height: auto;
    display: flex;
}
.accent-line-top div{
    height: 9px;
    flex-grow: 1;
}
.cover-icon-social-media{
    width: 76%;
    height: 8vw;
    margin: auto;
    box-sizing: border-box;
    padding: 0 3vw;
    position: relative;
}
.cover-padding-icon-social-media{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;

}
.wrap-icon-social-media{
    width: 100%;
    height: 38%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.wrap-icon-social-media i{
    font-size: 12px;
    margin: 0 8px;
    color: #86888f;
    cursor: pointer;
}
.wrap-icon-social-media i:hover{
    color: #3842d3;
}
.wrap-icon-social-media img:hover{
    background-color: #3842d3;
}
.theme-switch{
    position: absolute;
    width: 65px;
    height: 34px;
    background-color:white;
    top: -10px;
    left: -65px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cover-content{
    width: 76%;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 3vw;
    position: relative;
}
.wrap-content{
    width: 100%;
    display: block;
}
.accordionposts{
    width: 100%;
    height: 255px;
    padding: 18px 46px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    margin-bottom: 5px;
}

.img-user{
    width: 216px;
    height: 216px;
    display: flex;
    align-items: center;
}
.img-user img{
    width: 182px;
    height: 182px;
    border-radius: 50%;
}
.name-user-job{
    padding-top: 14px;
}
.name-user-job h1{
    display: block;
    height: 70px;
    font-size: 56px;
    color: #1d1d1d;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-user-job p{
    margin: 0;
}
.name-user-job strong{
    color: #9a9ea7;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
.icon-user__left{
    width: 65px;
    height: 65px;
    background-color: #3366e6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -66px;
    font-size: 19px;
    cursor: pointer;
}
.icon-user__left i{
    color: white;
}
.icon-user__right{
    width: 65px;
    height: 65px;
    background-color: #1f2021;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -65px;
    font-size: 14px;
    cursor: pointer;
}
.icon-user__right i{
    color: white;
}
.icon-user-drop-down{
    position: absolute;
    background-color: white;
    color: rgb(168, 168, 168);
    font-size: 26px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.resume{
    width: 100%;
    height: 66px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 46px;
    box-sizing: border-box;
    margin-bottom: 5px;

}
.icon-resume{
    width: 65px;
    height: 65px;
    background-color: #1bc9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -66px;
    font-size: 19px;
    cursor: pointer;
}
.icon-resume{
    color: white;
}

.resume span{
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.portfolio{
    width: 100%;
    height: 66px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 46px;
    box-sizing: border-box;
    margin-bottom: 5px;

}
.icon-portfolio{
    width: 65px;
    height: 65px;
    background-color: #ffc455;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -66px;
    font-size: 19px;
    cursor: pointer;

}
.icon-portfolio i{
    color: white;
}
.portfolio span{
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.testimonials{
    width: 100%;
    height: 66px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 46px;
    box-sizing: border-box;
    margin-bottom: 5px;

}
.icon-testimonials{
    width: 65px;
    height: 65px;
    background-color: #ff754a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -66px;
    font-size: 19px;
    cursor: pointer;

}
.icon-testimonials i{
    color: white;
}
.testimonials span{
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.contacts{
    width: 100%;
    height: 66px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 46px;
    box-sizing: border-box;
}
.icon-contacts{
    width: 65px;
    height: 65px;
    background-color: #ff4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -66px;
    font-size: 19px;
    cursor: pointer;

}
.icon-contacts i{
    color: white;
}
.contacts span{
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    position: fixed;
    top:200px;
    right: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.cart i{
    color: white;
    font-size: 18px;
}
.bestseller{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    position: fixed;
    top:262px;
    right: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.bestseller i{
    color: white;
    font-size: 22px;
}
.hide-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    position: fixed;
    top:324px;
    right: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.hide-panel i{
    color: white;
    font-size: 22px;
}
.copyright{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    color: #86888f;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.copyright a{
    text-decoration: none;
    color: #ff754a;
}
